@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
h1{
    font-family: 'Solway', serif;
    color: rgb(0, 0, 0);
}

.geral{
    font-family: 'Solway', serif;
    color: rgb(0, 0, 0);
}  

#botao{
    width: 380px;
    height: 90px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 28px;
    padding-bottom: 24px;
    font-family: 'Solway', serif;
    font-size: 18px;
    text-align: center;
}
#lb2{
    padding-left: 68px;
    font-size: 18px;   
    font-weight: 500;
}
#lb3{
    padding-left: 22px;
    font-size: 18px;   
    font-weight: 500;
}
#teste{
   margin-left: 200px;
}
